
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

#customColorPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#colorCanvas {
  border: 1px solid #000;
}

p {
  margin-top: 10px;
  font-size: 18px;
}

#selectedColor {
  font-weight: bold;
}